
   
 
  .business-text {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    color: #9efff8;
    box-shadow: var(--new-box-shadow, 5px 5px 7px 0px rgba(0, 0, 0, 0.20), 1px 1px 2px 0px rgba(0, 0, 0, 0.05), -2px -2px 2px 0px rgba(255, 255, 255, 0.05), -6px -7px 7px 0px rgba(255, 255, 255, 0.05));
  }
  
  .business-chart {
    margin-top: 20px;
  }
  .date-btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: -250px;
  }
  .date-img {
    width: 20px;
    height: 20px;
  }
  .day_1 {
    margin-left: -50px;
    margin-top: -45px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: #9efff8;
  }
  .time {
    margin-left: 50px;
    margin-top: -10px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    color: #9efff8;
  }
  
  .calendar-container {
    background-color: #31343c;
    margin-top: 90px;
  }
  
  * {
    box-sizing: border-box;
  }
  ul {
    list-style-type: none;
  }
  body {
    font-family: Verdana, sans-serif;
  }
  
  .month {
    /* padding: 70px 25px; */
    width: 80%;
     background: #31343c;
    text-align: center;
    margin-top: -40px;

  }
  
  .month ul {
    margin: 10;
    padding: 0;
  }
  
  .month ul li {
    color:  #9efff8;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .month .prev {
    float: left;
    padding-top: 5px;
    cursor: pointer
  }
  
  .month .next {
    float: right;
    padding-top: 5px;
    cursor: pointer
  }
  
  .weekdays {
    margin: 10;
    padding: 10px 0;
    background-color: #31343c;
    cursor: pointer
  }
  
  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color:  #9efff8;
    text-align: center;
    cursor: pointer
  }
  
  .days {
    padding: 10px 0;
     background: #31343c;
    margin: 0;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
    color:  #9efff8;
  }
  
  .days li .active {
    padding: 5px;
    background: #9efff8;
    border-radius: 50px;
    color:  #31343c!important;
  }
  /* .selected {
    background-color: white;
    /* Add any other styling you want for the selected date */
 
  
  .appointment {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #9efff8;
    box-shadow: var(--new-box-shadow, 5px 5px 7px 0px rgba(0, 0, 0, 0.20), 1px 1px 2px 0px rgba(0, 0, 0, 0.05), -2px -2px 2px 0px rgba(255, 255, 255, 0.05), -6px -7px 7px 0px rgba(255, 255, 255, 0.05));
  }
  
  .hour-text {
    font-family: Poppins;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #9efff8;
    margin-top: 4%;
  }
  
  .hour-time {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin: 5px;
    color: #9efff8;
    background: #31343c;
    box-shadow: var(--new-box-shadow, 5px 5px 7px 0px rgba(0, 0, 0, 0.20), 1px 1px 2px 0px rgba(0, 0, 0, 0.05), -2px -2px 2px 0px rgba(255, 255, 255, 0.05), -6px -7px 7px 0px rgba(255, 255, 255, 0.05));
  }
  
  .hour-btn {
    width: Hug (168px);
    height: Hug (36px);
    top: 3290px;
    left: 961px;
    border-radius: 5px;
    gap: 10px;
    border: none;
    background: #31343c;
  }
  .appointment-btn {
    width: 380px;
    height: 50px;
    top: 3356px;
    left: 838px;
    border-radius: 10px;
    border: none;
    background-color: #31343c;
    color: #9efff8;
    box-shadow: var(--new-box-shadow, 5px 5px 7px 0px rgba(0, 0, 0, 0.20), 1px 1px 2px 0px rgba(0, 0, 0, 0.05), -2px -2px 2px 0px rgba(255, 255, 255, 0.05), -6px -7px 7px 0px rgba(255, 255, 255, 0.05));
  }
  .appointment-text {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 430;
    line-height: 50px; 
    border-radius: 10px;
    border: none;
    letter-spacing: 0em;
    text-align: left;
    align-items: center;
    justify-content: center;
    display: flex;
    /* margin: 5px; */
    background-color: #31343c;
    color: #9efff8;
    box-shadow: var(--new-box-shadow, 5px 5px 7px 0px rgba(0, 0, 0, 0.20), 1px 1px 2px 0px rgba(0, 0, 0, 0.05), -2px -2px 2px 0px rgba(255, 255, 255, 0.05), -6px -7px 7px 0px rgba(255, 255, 255, 0.05));
  }
  
  /* ------------------------------------ */
  .from-container {
    width: 1280px;
    height: 294px;
    background-color: #9efff8;
    margin-top: 80px;
  }
  
  .submit-btn {
    width: 150px;
  }
  
  .submit-text {
    margin: 10px;
  
    font-size: 20px;
  }